{% extends 'base.html.twig' %}

{% block title %}Gender{% endblock %}

{% block body %}
<div class="container">
    <div class="row mt-3 mb-3">   
        <div class="col-md-4">
            <div class="col-md-4 fs-3" style="margin-left:20px;">Policier</div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            {% for genders in genders %}
            <div class="card m-3" style="box-shadow: 1px 1px 1px;">
                <div class="card-body">
                    <h2 class="card-title col-10 text-truncate fs-4">{{ genders.title }} </h2>
                    <p class="card-title col-10 text-truncate">{{ genders.author }} </p>
                    <img src="{{ asset('divers/images/' ~ genders.bookcover) }}" class="img-fluid card-img-top"style="height:400px;box-shadow: 10px 1px 10px;" alt="" />    
                    <a href="{{ path('showone', {'id':genders.id})}}" class="btn btn-primary mt-3">Lire +</a>
                </div>
            </div>
            {% endfor %}
        </div>  
        <div class="col-md-4">
            <div class="col-md-4 fs-3" style="margin-left:20px;">Aventure</div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            {% for genders1 in genders1 %}
            <div class="card m-3" style="box-shadow: 1px 1px 1px;">
                <div class="card-body">
                    <h2 class="card-title col-10 text-truncate fs-4">{{ genders1.title }} </h2>
                    <p class="card-title col-10 text-truncate">{{ genders1.author }} </p>
                    <img src="{{ asset('divers/images/' ~ genders1.bookcover) }}" class="img-fluid card-img-top"style="height:400px;box-shadow: 10px 1px 10px;" alt="" />
                    <a href="{{ path('showone', {'id':genders1.id})}}" class="btn btn-primary mt-3">Lire +</a>
                </div>
            </div>
            {% endfor %}
        </div>  
        <div class="col-md-4">
            <div class="col-md-4 fs-3" style="margin-left:20px;">Théatre</div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            {% for genders2 in genders2 %}
            <div class="card m-3" style="box-shadow: 1px 1px 1px;">
                <div class="card-body">
                    <h2 class="card-title col-10 text-truncate fs-4">{{ genders2.title }} </h2>
                    <p class="card-title col-10 text-truncate">{{ genders2.author }} </p>
                    <img src="{{ asset('divers/images/' ~ genders2.bookcover) }}" class="img-fluid card-img-top"style="height:400px;box-shadow: 10px 1px 10px;" alt="" />
                    <a href="{{ path('showone', {'id':genders2.id})}}" class="btn btn-primary mt-3">Lire +</a>
                </div>
            </div>
            {% endfor %}
        </div>  
    </div> 
</div>
{% endblock %}
