{% extends 'base.html.twig' %}

{% block title %}Books!{% endblock %}

{% block body %}
<div class="container">
    <div class="row mt-3 mb-3">
        <div class="row ">
            <div class="col-md-4 fs-3" style="margin-left:20px;">A la une</div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>
        <div class="col-md-6">
            {% for book in book %}
            <div class="card m-3" style="box-shadow: 1px 1px 1px;">
                <div class="card-body">
                <h2 class="card-title col-10 text-truncate fs-4">{{ book.title }} </h2>
                <p class="card-text text-truncate">{{ book.author }}</p>
                <div class="col-md-6"><img src="{{ asset('divers/images/' ~ book.bookcover) }}" class="img-fluid card-img-top mb-2" style="height:300px;box-shadow: 10px 1px 10px;" alt="image d'un livre" /></div>              
                <p class="card-text">{{ book.editor }}</p>
                <p class="card-text">{{ book.nbPages }} page(s)</p>
                <p class="card-text col-10 text-truncate">{{ book.description }}</p>     
                <a href="{{ path('showone', {'id':book.id})}}" class="btn btn-primary">Lire +</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-3">
            {% for book1 in book1 %}
            <div class="card m-3" style="box-shadow: 1px 1px 1px;">
                <div class="card-body">
                <h2 class="card-title col-10 text-truncate fs-4">{{ book1.title }} </h2>
                <p class="card-text text-truncate">{{ book1.author }}</p>
                <img src="{{ asset('divers/images/' ~ book1.bookcover) }}" class="img-fluid card-img-top mb-2" style="height:300px;box-shadow: 10px 1px 10px;" alt="" />
                <p class="card-text">{{ book1.editor }}</p>
                <p class="card-text">{{ book1.nbPages }} page(s)</p>
                <p class="card-text col-10 text-truncate">{{ book1.description }}</p>     
                <a href="{{ path('showone', {'id':book1.id})}}" class="btn btn-primary">Lire +</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-3">
            {% for book2 in book2 %}
            <div class="card m-3" style="box-shadow: 1px 1px 1px">
                <div class="card-body">
                <h2 class="card-title col-10 text-truncate fs-4">{{ book2.title }} </h2>
                <p class="card-text text-truncate">{{ book2.author }}</p>
                <img src="{{ asset('divers/images/' ~ book2.bookcover) }}" class="img-fluid card-img-top mb-2" style="height:300px;box-shadow: 10px 1px 10px;" alt="" />
                <p class="card-text">{{ book2.editor }}</p>
                <p class="card-text">{{ book2.nbPages }} page(s)</p>
                <p class="card-text col-10 text-truncate">{{ book2.description }}</p>     
                <a href="{{ path('showone', {'id':book2.id})}}" class="btn btn-primary">Lire +</a>
                </div>
            </div>
            {% endfor %}
        </div>      
    </div>
    <div class="row mt-3 mb-3">
        <div class="col-md-4">
            {% for book3 in book3 %}
            <div class="card m-3" style="box-shadow: 1px 1px 1px">
                <div class="card-body">
                <h2 class="card-title col-10 text-truncate fs-4">{{ book3.title }} </h2>
                <p class="card-text text-truncate">{{ book3.author }}</p>
                <img src="{{ asset('divers/images/' ~ book3.bookcover) }}" class="img-fluid card-img-top mb-2" style="height:300px;box-shadow: 10px 1px 10px;" alt="" />
                <p class="card-text">{{ book3.editor }}</p>
                <p class="card-text">{{ book3.nbPages }} page(s)</p>
                <p class="card-text col-10 text-truncate">{{ book3.description }}</p>     
                <a href="{{ path('showone', {'id':book3.id})}}" class="btn btn-primary">Lire +</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-4">
            {% for book4 in book4 %}
            <div class="card m-3" style="box-shadow: 1px 1px 1px">
                <div class="card-body">
                <h2 class="card-title col-10 text-truncate fs-4">{{ book4.title }} </h2>
                <p class="card-text text-truncate">{{ book4.author }}</p>
                <img src="{{ asset('divers/images/' ~ book4.bookcover) }}" class="img-fluid card-img-top mb-2" style="height:300px;box-shadow: 10px 1px 10px;" alt="" />
                <p class="card-text">{{ book4.editor }}</p>
                <p class="card-text">{{ book4.nbPages }} page(s)</p>
                <p class="card-text col-10 text-truncate">{{ book4.description }}</p>     
                <a href="{{ path('showone', {'id':book4.id})}}" class="btn btn-primary">Lire +</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-4">
            {% for book5 in book5 %}
            <div class="card m-3" style="box-shadow: 1px 1px 1px">
                <div class="card-body">
                <h2 class="card-title col-10 text-truncate fs-4">{{ book5.title }} </h2>
                <p class="card-text text-truncate">{{ book5.author }}</p>
                <img src="{{ asset('divers/images/' ~ book5.bookcover) }}" class="img-fluid card-img-top mb-2" style="height:300px;box-shadow: 10px 1px 10px;" alt="" />
                <p class="card-text">{{ book5.editor }}</p>
                <p class="card-text">{{ book5.nbPages }} page(s)</p>
                <p class="card-text col-10 text-truncate">{{ book5.description }}</p>     
                <a href="{{ path('showone', {'id':book5.id})}}" class="btn btn-primary">Lire +</a>
                </div>
            </div>
            {% endfor %}
        </div>                 
    </div>
</div>
{% endblock %}
